.assign-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  gap: 20px;
  text-align: start;
}

.assign {
  display: flex;
  gap: 10px;
  width: 100%;
  border-radius: 5px;
  justify-content: space-between;
  color: white;
  background-color: var(--accent-color);
}

.assign label {
  width: 40%;
  text-align: center;
  margin: auto;
  height: auto;
  font-size: 1rem;
}

.assign select {
  width: 80%;
  margin: 0;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  font-size: 1rem;
  height: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td.select {
  width: 1%;
  margin: 0;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  font-size: 1rem;
  height: 50px;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  border: none;
}

.addProduct {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100vw;
  padding: 20px;
  border: none;
}

.addProduct .modal-dialog {
  max-width: var(--main-view-width);
  height: 100%;
  margin-left: var(--main-view-margin-left);
  padding: 0 40px;
}

.addProduct .modal-content {
  height: 100%;
  border: none;
}

.modal-content .search-bar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  padding: 20px;
}

.modal-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  padding: 20px;
  border: none;
}

.modal-body .card {
  position: relative;
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  padding: 0;
  height: 300px;
}

.modal-body .card .card-title {
  position: relative;
  display: flex;
  margin-bottom: 0;
  font-size: 10px; /* fallback */
  font-size: clamp(10px, 20vw, 15px);
  text-align: center;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(91, 203, 205, 0.7);
  color: white;
}

.modal-body .card .card-text {
  color: var(--accent-color);
  width: 100%;
  font-size: 40px;
  padding: 0 10px;
}

.modal-body .card img {
  width: 100%;
  height: 60%;
  object-fit: contain;
}
/* 
.modal-body .card:hover .card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
} */

.item-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  border: none;
}

.item-container .item-image {
  position: relative;
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  padding: 0;
  object-fit: contain;
}

.item-container .item-details {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  justify-content: space-between;
  text-align: left;
  padding: 0;
  width: 35vw;
  height: 50px;
}

.item-stock {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  padding: 0;
  width: 15vw;
  height: 50px;
}

.item-container p {
  width: 100%;
  margin: 0;
  font-size: 1rem;
  display: flex;
}

.item-heading {
  font-weight: bold;
  font-size: 1rem;
  width: 70px;
}

.item-actions .card {
  position: relative;
  display: flex;
  margin: 0;
  height: 50px;
}

@media screen and (max-width: 578px) {

.item-container .item-image {
  position: relative;
  display: flex;
  width 50px;
  height 50px;
  
  background-color: transparent;
  justify-content: space-between;
  padding: 0;
  object-fit: contain;
}

.addProduct .modal-dialog {
margin-left 0;
}


}
