.list-container {
  /* display: grid;
  flex-direction: column;
  width: calc(100vw - 250px); */
  padding: 0;
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  background-color: #282c34;
  color: white;
}

.assign-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}

.assign {
  display: flex;
  gap: 10px;
  width: 100%;
  border-radius: 5px;
  justify-content: space-between;
  color: white;
  background-color: var(--accent-color);
}

.assign label {
  width: 20%;
  text-align: center;
  margin: auto;
  height: auto;
  font-size: 1rem;
}

.assign select {
  width: 100%;
  margin: 0;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  height: 50px;
}

@media screen and (max-width: 578px) {
  .assign-container {
    width: 100%;
  }
}
