$primary-color: #282c34;
$secondary-color: #61dafb;
$primary-gradient: linear-gradient(to bottom, #565b66, #3f4e67);

body {
  background-color: $primary-color;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.main-view {
  width: 80vw;
  margin-left: 200px;
  padding: 20vh;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $primary-color;
}

@media screen and (max-width: 578px) {
  .App {
    grid-template-columns: 1fr;
  }
  .main-view {
    margin-left: 0;
    margin: 0 0 100px 0;
    height: 100vh;
    width: 100vw;
  }
}
