:root {
  --background-color: rgb(154, 193, 190);
  --white-color: rgb(255, 255, 255);
  --primary-color: rgb(64, 89, 87);
  --secondary-color: rgb(38, 164, 160);
  --text-color: #282c34;
  --secondary-text-color: rgb(108, 196, 189);
  --main-view-width: calc(100vw - 250px);
  --main-view-height: 100vh;
  --main-view-margin-left: 250px;
  --bs-btn-active-bg: var(--primary-color) !important;
}

body {
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.login-view {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  gap: 10vw;
  margin-top: 10vh;
}

.login-view form {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100vh;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  margin-bottom: 1rem;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.form-group label {
  color: var(--white-color);
  font-size: 1rem;
  text-align: center;
  width: 20%;
  margin: 10px;
  height: auto;
  text-align: start;
}

.login-view h1 {
  color: var(--text-color);
  font-size: 5vw;
}

.login-view .btn {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.login-view .btn:hover {
  background-color: var(--white-color) !important;
  color: var(--primary-color);
}

.form-group input {
  width: 80%;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  height: 50px;
}

.form-group.dimensions input {
  width: 24%;
}

.btn {
  background-color: var(--secondary-text-color);
  color: white;
  border: 1px solid transparent;
  font-size: 1rem;
  margin: 0;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  width: 100%;
}

.btn:hover {
  color: var(--primary-color);
  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
}

.btn:active {
  background-color: var(--primary-color) !important;
  color: var(--white-color);
  border: 1px solid transparent !important;
}

.login-view .btn:hover {
  background-color: #4a9cb7;
}

.action-button.btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  font-size: 1vw;
  margin: 0;
  border-radius: 5px;
  cursor: pointer;
}

.main-view {
  position: relative;
  display: flex;
  flex-direction: column;
  width: var(--main-view-width);
  margin-left: var(--main-view-margin-left);
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
}

.title-bar {
  color: var(--white-color);
  background-color: var(--primary-color);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.title-bar .back-button {
  position: absolute;
  left: 0;
  width: 100px;
  height: 40px;
  font-size: large;
  font-weight: bold;
  margin: 5px;
  padding: 10px;
  background-color: transparent;
  color: var(--white-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.title-bar .back-button:hover {
  transform: scale(1.5);
  transition: all 0.2s ease-in-out;
}

#message-bar {
  position: fixed;
  top: 0;
  width: var(--main-view-width);
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#message-bar p {
  width: 100%;
  text-align: center;
}

#message-bar.hidden {
  display: none;
}

#message-bar.error {
  background-color: rgb(86, 38, 38);
}

#message-bar.success {
  background-color: var(--secondary-color);
}

.top-container {
  display: flex;
  margin-bottom: 1rem;
  text-align: start;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.top-container h3 {
  color: var(--text-color);
  font-size: 2vw;
  margin: 0;
}
.top-container button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  height: 50px;
  width: 100%;
}

.action-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.action-container:has(.sml) {
  flex-direction: column;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  height: 50px;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: var(--main-view-width);
  height: 100%;
  padding: 20px;
  gap: 20px;
}

.bottom-container {
  font-size: 2vw;
  padding: 0;
  border-radius: 5px;
  background-color: transparent;
}

.list-container table {
  color: var(--text-color);
  margin: 0;
  width: 100%;
}

.list-container table th {
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  text-align: start;
}

.list-container table td {
  font-size: 1rem;
  padding: 10px;
  text-align: start;
}
.list-container table > td {
  border: 1px solid var(--primary-color);
}

.list-group-item  {
  border-radius: 0 !important;
}

#details-container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

#details-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  border-radius: 5px;
}

#details-container .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: transparent;
}

#details-container .details .list-group-item {
  display: flex;
  color: var(--text-color);
  font-size: medium;
  gap: 10px;
  margin: 0;
  width: 100%;
  background-color: transparent;
  border: none;
}

#details-container .details .list-group-item:first-child {
  width: 100%;
  font-size: medium;
  margin: 0;
}

#users {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 5px;
  padding: 0;
}
#users .list-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  width: 100%;
  font-size: medium;
  text-align: start;
  color: var(--primary-color);
}

#users .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  border: 3px solid var(--primary-color);
  border-radius: 5px;
  color: var(--white-color);
  padding: 20px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.bold-detail {
  font-weight: bold;
  color: var(--secondary-text-color);
}

.card {
  margin: 0;
  text-align: center;
}

.card-text {
  margin-bottom: 0;
}

.card-title {
  font-size: small;
  margin: 10px;
}

.card.sml {
  width: 100%;
  height: 4rem;
  font-size: 1rem;
}

.card.med {
  width: 10rem;
  height: 10rem;
}

.card.lrg {
  width: 15rem;
  height: 15rem;
}

@media screen and (max-width: 768px) {
  .App {
    grid-template-columns: 1fr;
  }

  #message-bar {
    position: fixed;
    width: 100vw;
    top: 70px;
  }

  #user-container .list-group .list-group-item {
    flex-direction: column;
  }
  .main-view {
    margin-left: 0;
    margin: 70px 0 100px 0;
    height: 100vh;
    width: 100vw;
  }

  .main-container {
    width: 100vw;
  }

  .top-container {
    justify-content: stretch;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
  }

  .top-container h3 {
    font-size: 5vw;
  }


  #product-view #details-container .details .list-group-item {
    flex-direction: column;
  }

  .action-container {
    width: 100%;
    padding: 20px 0;
  }

  .login-view h1 {
    font-size: 8vw;
  }

  .login-view form {
    width: 80%;
  }

  .card.sml {
    width: 100%;
    height: 2rem;
  }

  .card.med {
    width: 100%;
    height: 2rem;
  }

  .card.lrg {
    width: 80vw;
    height: 5rem;
  }
}
