:root {
  --primary-color: #282c34;
  --secondary-color: #61dafb;
  --primary-gradient: linear-gradient(to bottom, #282c34, #3f4e67);
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.App-link {
  color: #61dafb;
}
