:root {
  --background-color: white;
  --accent-color: #5acbcd;
  --text-color: #282c34;
}

body {
  background-color: var(--background-color);
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.main-view {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 250px);
  margin-left: 250px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  background-color: var(--background-color);
}

.title-bar {
  background-color: var(--accent-color);
  width: 100%;
}

.top-container {
  display: flex;
  gap: 5%;
  margin-bottom: 1rem;
  text-align: start;
  justify-content: space-between;
  width: 100%;
}

.top-container h3 {
  color: var(--text-color);
  font-size: 2vw;
  margin: 0;
}
.top-container button {
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  height: 50px;
  width: 100%;
}

.action-container {
  display: flex;
  padding: 20px 0;

  justify-content: center;
  width: 50%;
}

.action-container .card {
  margin: 0 10px;
  width: 150px;
  height: 150px;
  text-align: center;
  border: none;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  font-size: 1rem;
  height: 50px;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 250px);
  height: 100%;
  padding: 20px;
}

.list-container {
  /* display: grid;
  flex-direction: column;
  width: calc(100vw - 250px); */
  padding: 0;
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  background-color: var(--background-color);
  color: white;
}

@media screen and (max-width: 578px) {
  .App {
    grid-template-columns: 1fr;
  }
  .main-view {
    margin-left: 0;
    margin: 70px 0 100px 0;
    height: 100vh;
    width: 100vw;
  }

  .main-container {
    width: 100vw;
  }

  .top-container {
    justify-content: stretch;
  }

  .top-container h3 {
    font-size: 5vw;
  }
}
