$primary-color: #282c34;
$secondary-color: #61dafb;
$primary-gradient: linear-gradient(to bottom, #282c34, #3f4e67);

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.main-view {
  width: 75vw;
  margin-left: 200px;
  padding: 20vh;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@media screen and (max-width: 578px) {
  .App {
    grid-template-columns: 1fr;
  }
  .main-view {
    width: 100vw;
    margin-left: 0;
    margin: 0 0 100px 0;
    height: 100%;
  }
}
