@use '../App.scss';

#home-view {
  display: grid;
  grid-template-columns: 0.1fr 0.1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: App.$primary-gradient;
  border-radius: 0;
  color: white;
  padding: 20px;
  margin: 20px;
  height: 200px;
  width: 200px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media screen and (max-width: 578px) {
  #home-view {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .card {
    height: 75px;
    width: 80vw;
  }
}
