@import url('../App.css');

#side-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100vh;
  width: 250px;
  padding: 20px;
}

.navbar-collapse {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: fit-content;
}

.nav-section {
  color: white;
  padding: 10px 20px;
  text-align: start;
}

.navbar-toggler {
  border: none;
  background: none;
  color: white;
  padding: 10px 20px 0 0;
  margin: 0;
}

.app-name {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 10px 0 0 20px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

@media screen and (max-width: 578px) {
  #side-nav {
    position: absolute;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: start;
    height: 50px;
    padding: 0;
    z-index: 1;
  }
}
