@import url('../App.css');
#side-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  width: 250px;
}

.navbar-collapse {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
}

.nav-item {
  display: flex;
  color: white;
  width: 100%;
  align-items: center;
  padding: 10px;
  text-align: start;
}

.nav-item svg {
  margin-right: 10px;
}

.nav-item h4 {
  margin: 0;
  font-size: 1rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  padding: 0;
  margin: 0;
}

.navbar-toggler {
  border: none;
  background: none;
  color: white;
  font-size: 1.5rem;
  height: 40px;
  margin: 10px;
}

.app-name {
  display: flex;
  height: 40px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  padding: 20px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

#user {
  display: flex;
  right: 20px;
  padding: 10px;
  align-items: center;
  font-size: 1rem;
}

#user h4 {
  margin: 0;
  font-size: 1rem;
  color: white;
}

#side-nav .btn {
  background-color: transparent;
  color: white;
}

#side-nav .nav-link {
  color: white;
  margin: 0;
  width: 100%;
  font-size: 1rem;
  text-decoration: none;
}

#side-nav .nav-link:hover {
  background-color: var(--primary-color);
}

/* .login {
  width: 100%;
  padding: 20px;
} */
#user .user-icon {
  margin-right: 10px;
  color: white;
}
#user .user-name {
  margin: 0 10px 0 0;
  color: white;
}

@media screen and (max-width: 768px) {
  #side-nav {
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 70px;
    padding: 0;
    z-index: 1;
  }

  .app-name {
    display: flex;
    height: 40px;
    color: white;
    font-size: 1.5rem;
    justify-content: center;
  }

  #user {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 0;
  }
}
