.search-bar {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 100%;
  gap: 5px;
  font-size: small;
}

.search-bar select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  font-size: small;
  height: 40px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  font-size: small;
  height: 40px;
}

.search-bar button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: small;
  cursor: pointer;
  height: 40px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .search-bar {
    font-size: small;
  }

  .search-bar select {
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: small;
    height: 40px;
  }
}
