.search-bar {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 50%;
  gap: 20px;
}

.search-bar#productSearch {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  font-size: 1rem;
  height: 50px;
}

.search-bar button {
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  height: 50px;
  width: 100%;
}

@media screen and (max-width: 578px) {
}
